<!DOCTYPE html>
<html lang="en" ng-app="spotify">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport" />
        <title>Spotify</title>

        <!-- Description of site -->
        <meta name="description" content="Spotify!.">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body ng-controller="spotifyzier">
        <header>
            <nav class="navbar navbar-default">

                <div id="newtab-search-container container">
                    <div id="newtab-search-form">
                        <div id="newtab-search-icon"></div>
                        <input id="newtab-search-text" placeholder="Search" type="text" ng-model="search_artist" ng-change="searchArtist()" ng-model-options="{debounce: 500}"/>
                    </div>
                </div>
            </nav>
        </header>
        <!--        <section ui-view></section>-->
        
       
        <div ng-if="result" class="container">
            
            <div bg-img="{{imgUrlAvatar.url}}" style="width: 100%; height: auto;">
                <div class="row" ng-repeat="album in albums">
                    
                    <div class="col-md-3">
                        <img ng-src="{{album.images[0].url}}" class="img-rounded img-responsive" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="containAlbum text-left">
                            <h2>{{artistName}}</h2>
                            <h3>{{album.name}}</h3>
                            <a href="" class="btn btn-default pull-left">Listen on Spotify</a>
                            <a href="" class="btn btn-default pull-right">View Comments</a>
                        </div>
                    </div>
                    <div class="col-md-12"style="background-color: #181818 !important; height: 20px;"></div>                 
                </div>
            </div>
        </div>
       
        <div ng-if="!result" class="container">
            <p>Ingrese un artista como la gente</p>
        </div>

            {{result}}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="app.js"></script>
        <script src="controller.js"></script>
        <script src="bgImg-directive.js"></script>
    </body>

</html>