<!DOCTYPE html>
<html ng-app="MyFirstApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>

    <body ng-controller="FirstController">

        <input type="text" ng-model="artist" ng-change="searchArtist()">

        <p>{{artist}}</p>
        <img src="{{imgUrlAvatar.url}}" alt="" style="">

        <ul>
            <li ng-repeat="album in albums">
                <img src="{{album.images[2].url}}" alt="">
            </li>
        </ul>



        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="controller.js"></script>

    </body>
</html>